@page
@model ClubBAISTPrototype.Pages.MembershipCommittee.ReviewsMembershipApplicationModel
@{
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ReviewMembershipApplicationForm</title>
</head>
<body>
    <div class="container-fluid">
        <form name="ReviewMembershipApplicationForm" method="post">
            <div class="card mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-light">Applications: </h6>

                    <span class="label label-default">Search :</span>
                    <select class="form-select" asp-for="selectedFilter" asp-items="Model.Options"></select>
                    <input type="submit" name="Submit" value="Search" class="btn btn-info" />

                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Application ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Home Address</th>
                                    <th>Home Postal Code</th>
                                    <th>Home Phone</th>
                                    <th>Home Alternate Phone</th>
                                    <th>Email</th>
                                    <th>Date of Birth</th>
                                    <th>Date Completed</th>
                                    <th>Share Holder Name 1</th>
                                    <th>Share Holder Name 2</th>
                                    <th>Occupation</th>
                                    <th>Company Name</th>
                                    <th>Company Address</th>
                                    <th>Company Phone</th>
                                    <th>Company Postal Code</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var items in Model.SampleObjectCollection)
                                {

                                    <tr>
                                        <td><input type="submit" name="Submit" value="Select @items.MembershipApplicationID" /></td>
                                        <td>@items.FirstName<br /></td>
                                        <td>@items.LastName<br /></td>
                                        <td>@items.HomeAddress<br /></td>
                                        <td>@items.HomePostalCode<br /></td>
                                        <td>@items.HomePhone<br /></td>
                                        <td>@items.HomeAlternatePhone<br /></td>
                                        <td>@items.Email<br /></td>
                                        <td>@items.DateOfBirth<br /></td>
                                        <td>@items.DateCompleted<br /></td>
                                        <td>@items.ShareholderName1<br /></td>
                                        <td>@items.ShareholderName2<br /></td>
                                        <td>@items.Occupation<br /></td>
                                        <td>@items.CompanyName<br /></td>
                                        <td>@items.CompanyAddress<br /></td>
                                        <td>@items.CompanyPhone<br /></td>
                                        <td>@items.CompanyPostalCode<br /></td>

                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>




            @if (Model.MembershipApplicationID > 0)
            {

           

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-light">Club BAIST Membership Application: </h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-dark table-borderless table-sm">
                            <thead>
                                <tr>
                                    <th>Personal Info:</th>
                                    <th>Work Info:</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>

                                    <td>
                                        <label>Last Name</label>
                                        <input value="@Model.LastNameField" class="form-control" id="lastNameField" disabled>

                                    </td>

                                    <td>
                                        <label>Occupation</label>
                                        <input value="@Model.OccupationField" class="form-control" id="occupationField" disabled>

                                    </td>
                                </tr>
                                <tr>

                                    <td>
                                        <label>First Name</label>
                                        <input value="@Model.FirstNameField" class="form-control" id="firstNameField" disabled>

                                    </td>

                                    <td>
                                        <label>Company Name</label>
                                        <input value="@Model.CompanyNameField" class="form-control" id="companyNameField" disabled>

                                    </td>
                                </tr>
                                <tr>

                                    <td>
                                        <label>Address</label>
                                        <input value="@Model.HomeAddressField" class="form-control" id="homeAddressField" disabled>

                                    </td>

                                    <td>
                                        <label>Address</label>
                                        <input value="@Model.CompanyAddressField" class="form-control" id="companyAddressField" disabled>

                                    </td>
                                </tr>
                                <tr>

                                    <td>
                                        <label>Postal Code</label>
                                        <input value="@Model.HomePostalCodeField" class="form-control" id="homePostalCode" disabled>

                                    </td>

                                    <td>
                                        <label>Postal code</label>
                                        <input value="@Model.CompanyPostalCodeField" class="form-control" id="companyPostalCode" disabled>

                                    </td>
                                </tr>
                                <tr>

                                    <td>
                                        <label>Phone</label>
                                        <input value="@Model.HomePhoneField" class="form-control" id="homePhoneField" disabled>

                                    </td>

                                    <td>
                                        <label>Phone</label>
                                        <input value="@Model.CompanyPhoneField" class="form-control" id="companyPhoneField" disabled>

                                    </td>
                                </tr>
                                <tr>

                                    <td>
                                        <label>Alternate Phone</label>
                                        <input value="@Model.HomeAlternatePhoneField" class="form-control" id="alternateHomePhoneField" disabled>

                                    </td>
                                    <td> </td>

                                </tr>
                                <tr>

                                    <td>
                                        <label>Email</label>
                                        <input value="@Model.EmailField" class="form-control" id="emailField" disabled>

                                    </td>
                                    <td></td>

                                </tr>
                                <tr>

                                    <td>
                                        <label>Date of Birth (Month/Day/Year)</label>
                                        <input value="@Model.DateOfBirthField" class="form-control" id="dateOfBirthField" disabled>

                                    </td>
                                    <td> </td>

                                </tr>
                                <tr>

                                    <td>
                                        <label>Shareholder Name 1:</label>
                                        <input disabled class="form-control" id="shareholderName1Field" value="@Model.ShareHolder1Field">

                                    </td>

                                    <td>
                                        <label>Shareholder Name 2:</label>
                                        <input value="@Model.ShareHolder2Field" class="form-control" id="shareholderName2Field" disabled>

                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <button name="Submit" value="Submit" type="submit" class="btn btn-light">Submit</button>
                    </div>
                </div>
            </div> }

            else
            {
        <div class="card text-center text-white bg-danger" style="max-width: 18rem;">
            <div class="card-body">
               
                <p class="card-text">Please select a membership application above.</p>
            </div>
        </div>
            }

        </form>
        </div>
        @Model.Message
    </body>
</html>
