@page
@model ABC_Hardware.Pages.Shared.DeleteACustomerModel
@{
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Delete A Customer</title>
</head>
<body>
    <form name="DeleteAnItemForm" method="post">
        <table>
            <tr>
                <td>Search :</td>
                <td><input type="text" name="SearchParameter" value="@Model.SearchParameter" /></td>
            </tr>
            <tr>
                <td><input type="submit" name="Submit" value="Search" /></td>
            </tr>
        </table>
        <table class="table">
            <tbody>
                <tr>
                    <th>CustomerID</th>
                    <th>CustomerName</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>Province</th>
                    <th>PostalCode</th>
                </tr>
                @foreach (var items in Model.SampleObjectCollection)
                {
                    if (items.IsDeleted == false)
                    {
            <tr>
                <td>@items.CustomerID<br /></td>
                <td>@items.CustomerName<br /></td>
                <td>@items.Address<br /></td>
                <td>@items.City<br /></td>
                <td>@items.Province<br /></td>
                <td>@items.PostalCode<br /></td>
                <td><input type="submit" name="Submit" value="Delete @items.CustomerID" /><br /></td>
            </tr>
                    }
                }
            </tbody>
        </table>
    </form>
    @Model.Message
</body>
</html>
