@page
@model ABC_Hardware.Pages.Shared.SAleTestModel
@{
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index2</title>
</head>
<body>

    Age: @Model.quantityonhand
    <br />
    Username: @Model.itemcode
    <br>
    <!--
        <h3>item Info</h3>
        <table border="1">
            <tr>
                <td>Id</td>
            
            </tr>
            <tr>
                <td>Name</td>
          
            </tr>
            <tr>
                <td>Price</td>
               
            </tr>
        </table>
    -->
    <h3>item List</h3>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
        @foreach (var item in Model.items)
        {
            <tr>
                <td>@item.ItemCode</td>
                <td>@item.ItemDescription</td>
                <td>@item.UnitPrice</td>
            </tr>
        }
    </table>

</body>
</html>