@page
@model ClubBAISTPrototype.Pages.Player.ViewsPlayerHandicapModel
@{}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>View Player Handicap</title>
</head>
<body>

    <div class="jumbotron-fluid">View Player Handicap   </div>
    <div class="container-fluid">


        <h1 class="h3 mb-2 text-light">View Player Handicap</h1>

        <form method="post" name="ItemForm">
            <!-- /.container-fluid -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-light">Club BAIST Member Handicaps: </h6>
                    <span class="label label-default">Search :</span>
                    <select class="form-select" asp-for="selectedFilter" asp-items="Model.Options"></select>
                    <input type="submit" name="Submit" value="Search" class="btn btn-info" />
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-dark table-bordered table-sm">
                            <thead>
                                <tr>
                                    <th class="tg-0lax">MemberName</th>
                                    <th class="tg-0lax">HandicapIndex</th>
                                    <th class="tg-0lax">Last 20 Average</th>
                                    <th class="tg-0lax">Best 8 Average</th>
                                    <th class="tg-0lax" colspan="20">Last 20 Round Scores</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>


                                    <td class="tg-0lax">@Model.memberName</td>
                                    <td class="tg-0lax">@Model.HandicapIndex.ToString("F1")</td>
                                    <td class="tg-0lax">@Model.Last20Average</td>
                                    <td class="tg-0lax">@Model.Best8Total</td>
                                    @if (Model.SampleObjectCollection.Count > 19)
                                    {


                                        @foreach (var item in Model.SampleObjectCollection)
                                        {
                                            <td class="tg-0lax">@item</td>
                                        }
                                    }
                                    else
                                    {



                                        <td class="tg-0lax" colspan="20">Not enough data</td>
                                    }
                                    @Model.Message

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>